<a href="/projects">Projects</a>
<a href='/volunteers'>Volunteers</a>
<h1>All Volunteers</h1>

<% @volunteers.each do |volunteer| %>
  <h3><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></h3>
 <a href="/volunteers/<%= volunteer.id %>/edit">Update Volunteer</a>

<% end %>