<h1>All Projects</h1>

<% @projects.each_with_index do |project, index| %>

  <div id="project-<%= index %>"> 
   <h3><a href="/projects/<%= project.id %>"><%= project.name %></a></h3>
   <p>Project Start Date: <%= project.created_at %></p>
  </div>
<% end %>