<a href="/projects">Projects</a>
<a href='/volunteers'>Volunteers</a>

<form action="/projects" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a new Project:</h2>
  <p>What is your Project's name?</p>
  <input type='text' name='project[name]'/><br/>
  <p>Is this Project active? (true or false please) </p>
  <input type='text' name='project[active]'/><br/>
  <p>How much funding does this Project have?</p>
  <input type='text' name='project[funding]'/><br/>
  <input type='submit' value='Create Project'>
</form>

